
body{
  position: relative;
  margin: 0;
  background: url("image.jpg");
  height: 100vh;
  background-size: cover;

}

.container{
  position: absolute;
  width: 660px;
  height: 450px;
  background: rgba(0, 0, 0, 0.5);
  top:22px;
  left: 170px;
}

.logo-testo{
  position: relative;
  width: 660px;
  height: 100px;

}

.logo{
  width:180px;
}

.lime{
position: relative;
  width: 580px;
  height: 25px;
  background: lime;
  left:40px;

}


.pulsante1{
font-size: 5px;
}

.pulsante2{
  font-size: 5px;

}

.pulsante3{

  font-size: 5px;
}


.box{
  left:35px;
  position: relative;
}

.orange{
position: relative;
  width: 210px;
  height: 20px;
  background: rgb(251, 191, 119);
  left:35px;

}


.verde{
position: relative;
  width: 320px;
  height: 20px;
  background: rgb(0, 187, 45);
  left:35px;

}


.rosa{
position: relative;
  width: 70px;
  height: 20px;
  background: rgb(231, 84, 128);
  left:35px;

}
